/* Color Palette
#a0be56  green
#282828  dark gray

*/
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

* {
  font-family: comfortaa;
 }
.wrapper {
  padding: 20px;
  background-color: #FAFAFA;
  box-sizing: border-box;
  float: left;
  width: 100%;
}

.leftC{
    float: left;
    width:48%;
    margin: 1%;
    box-sizing: border-box;
}

.upload-btn-wrpr {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width:100%;
    height: 65px;
}
.cntr-wr {
    margin: 0 auto;
    display: block;
    width: 200px;
}

.btnn {
    float: left;
}

button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.3em 0.7em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold; outline: none}
button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
    height:calc(100% + 12px);border-color:#a1c057}
button:hover {background-color:#a1c057;border-color:#a1c057;color: white}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}

#containerForFileInput{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    height: 350px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    overflow-y: auto !important;
}

#footer {
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 30px;
}

#adv {
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #a1c057;
    border-radius: 5px;
    color: white;
    padding: 10px;
    padding-left:30px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
}

#logo {
    float: left;
}

#logo img {
    width: 130px;
    height: 130px;
    float: left;
}

#txt {
    padding-top: 20px;
    padding-left: 20px;
    float: left
}

.rightC{
    float: right;
    width:48%;
    margin: 1%;
    box-sizing: border-box;
}

.headG{
    height: 65px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    width:100%;
}

.footG{
    float: left;
    position: relative;
    margin: 10px 0 0 0;
    width: 100%;
    height: 570px;
    background-color: white;
}

#toBuild {
  position: absolute;
  top: 5px;
  right: 5px;;
}

/*

h2 {
  color: #a0be56;
}
.upload-file {
  background-color: #282828;
  color: #a0be56;
  border: 1px solid #a0be56;
  border-radius: 20px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #a0be56;
  color: #282828;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#uploaded-file-title {
  margin-left: 10px;
  color: #a0be56;
}
#output-text-container {
  margin: 10px;
  font-size: 1.5rem;
}
.handleOverflow {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  height: 350px;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  overflow-y: auto !important;
}*/

.handleOverflow::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.handleOverflow::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.handleOverflow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}/*
hr {
  height: 3px;
  border: none;
  color: #a0be56;
  background-color: #a0be56;
}
.selectedText {
  overflow: auto;
}
.simulate {
  border: 2px solid #a0be56;
  color: #282828;
  padding: 8px 20px;
}

span.used {
  color: red !important;
  font-size: 32px;
  background-color: red !important;
}

.markedWrd {
  background-color: #282828;
  color : #a0be56;
  border-radius: 5px;
  padding: 2px;
}*/