.sidebar {
  z-index: 2;
  position: absolute;
}

.slim-sidebar {
  margin-top: 5px;
  float: left;
  width: 50px;
  background-color:white;
  margin-left: 10px;
  box-sizing: border-box;
  box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
  border-radius: 5px;
}
  
.slim-sidebar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  box-sizing: border-box;
  padding: 10px;
}

.icon {
  width: 30px;
  border-radius: 100%;
  box-sizing: border-box
}

.slim-sidebar a:hover {
  background-color: lightgray;
}
  
.active {
  background-color: #a1c057;
}


/*
p {
    font-family: Lato;
  }
  
  .sidebar {
    background: #efefef;
    padding: 10px;
  }
  
  .page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  mat-form-field, mat-checkbox {
    display: block;
    width: 100%;
  }
  
  mat-checkbox {
    margin-bottom: 10px;
  }
  
  .button {
    margin: 3px;
  }*/