.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a0be56;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #71863b;
}

.active {
  background-color: #b5d660;
}
