<div class="wrapper">
  <div class="row">
    <div class="mx-auto mb-5">
      <h2>Annotate Text</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12">
          <div class="upload-btn-wrapper">
            <button class="btn">Upload a file</button>
            <input
              type="file"
              accept=".txt"
              class="upload-file"
              id="upload-file-button"
              (change)="changeOfFile($event)"
            />
            <span id="uploaded-file-title">No file selected</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            class="output-text-container handleOverflow"
            (mouseup)="handleTextSelection($event)"
          >
            <p id="anchor"></p>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12 selectedText">
          <p>Selected part from uploaded file:</p>
          <div id="sel" class="">
            {{ this.markedWord }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <select class="form-control" id="sel1">
            <option>Saved Graph 1</option>
            <option>Saved Graph 2</option>
            <option>Saved Graph 3</option>
            <option>Saved Graph 4</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <!-- put graph editor here? -->
        <div class="col-lg-12">
          <div class="simulate">
            <p id="node1" (click)="changeTextOfNode($event)">
              I am simulating a graph node
            </p>
            <p id="node2" (click)="changeTextOfNode($event)">
              Me too
            </p>
            <p id="node3" (click)="changeTextOfNode($event)">
              Me three
            </p>
            <p id="node4" (click)="changeTextOfNode($event)">
              Me four
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
