<app-sidebar></app-sidebar>
<div class="graph-options">
  <mat-slide-toggle
    [formControl]="activate"
    (change)="toggleMultipleEditors($event)"
    >multiple editors</mat-slide-toggle
  >
  <mat-select
    placeholder="Layout"
    [ngModel]="this.layoutService.layoutName"
    (ngModelChange)="this.layoutService.setLayout($event)"
    name="this.layoutService.layoutName"
  >
    <mat-option *ngFor="let l of this.layoutService.layouts" [value]="l.value">
      {{ l.label }}
    </mat-option>
  </mat-select>

  <app-select-graph></app-select-graph>
</div>

<div class="enter-text">
  <app-autoannotate></app-autoannotate>
</div>

<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <app-graph-renderer> </app-graph-renderer>
  </mat-drawer-content>
</mat-drawer-container>